@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about 
        <a href="https://docs.microsoft.com/aspnet/core">
            <h1>My Fourth .net Web App</h1>  
        </a>.
    </p>
</div>
